



#logo {
   background-color:dodgerblue;
   ;
   margin: 0;
}

h1 {text-align: center;
   color:blue ;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
   text-align: center;
   color:rgb(253, 222, 14);
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


h3 {
   font-size: small;
   background-color: dodgerblue;
   padding: 2rem;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h4 {
   font-weight: bolder;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: x-large;
}

.carousel-turnen {
   padding-top: 2rem;
}

h5 {
   text-align: center;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-weight: bolder;
}

h6 {
   text-align: center;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-weight: bolder;
}

h7 {
   text-decoration: underline;
   font-weight:bold ;
   text-align: center;
   padding-top: 2rem;
   padding-bottom: 2rem;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: larger;
}

h8 {
   font-weight: bold;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   padding-top: 2rem;
   padding-bottom: 2rem;
   text-decoration: underline;
}

h9 {
   font-weight: bold;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   padding-top: 2rem;
   padding-bottom: 2rem;
   text-decoration: underline;
}

h10 {
   font-weight: bold;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
   padding-bottom: 2rem;
   text-decoration: underline;
   font-size: x-large;    
}

h11 {
   font-weight: bold;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   padding-top: 2rem;
   text-decoration: underline;
   font-size: x-large; 
   text-align: center;   
}




.navbar-startseite {
   padding-top: 1rem;
  ;
   padding-bottom: 1rem;
}

.intro {
   font-size: large;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   text-align: center;
   margin-top: 1.5rem;
   margin-bottom:0rem;
}

.sportabzeichen{
   padding-top: 1rem;
   
}

.fotos-galerie{
   padding-top: 2rem;
   padding-bottom: 2rem;
   
   
  }


.padding-bottom{
   padding-bottom: 6rem;
    
}

.aktuelles{
   padding-top: 2rem;
   padding-bottom: 2rem;
}

.training-turnen{
   margin: 10rem;
}

.training-trampolin{
   margin: 10rem;
}

.bottom{
   margin:0rem
}

.sportprogramm{
   padding-top:0rem
}

.training-volleyball{
   margin:10rem;
}



