body { 
    margin-left:30%;
             margin-right: 15%;
            margin-top: 20px;
             width: 1000px;
             margin: auto;}


.logo{}

h1{text-align: center;
   color:blue ;}

h2{text-align: center;
color:rgb(253, 222, 14);
}