



#logo {
   background-color:dodgerblue;
   ;
   margin: 0;
}

h1 {text-align: center;
   color:blue ;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
   text-align: center;
   color:rgb(253, 222, 14);
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


h3 {
   font-size: small;
   background-color: dodgerblue;
   padding: 2rem;
}


.carousel-turnen {
   padding-top: 2rem;
}

h5 {
   text-align: center;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar-startseite {
   padding-top: 1rem;
  ;
   padding-bottom: 1rem;
}

.intro {
   font-size: large;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   text-align: center;
   margin-top: 1.5rem;
   margin-bottom:0rem;
}

.sportabzeichen{
   padding-top: 1rem;
   
}

.fotos-galerie{
   padding-top: 2rem;
   padding-bottom: 2rem;
   
  }


.padding-bottom{
   padding-bottom: 6rem;
    
}



